@charset "UTF-8";

/*変数*/
:root {
    --starttime: 0s;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* CSS Document*/
html {
    font-size: 62.5%;
    /*16px × 62.5%=10px*/
    /*　横揺れ防止　*/
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    color: #fff;
    /* 基本フォント　*/
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    line-height: 1.85;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*　横揺れ防止　*/
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: black;
}

img {
    width: auto;
    max-width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 2%;
}


.contaner {
    margin-top: auto;
    margin-bottom: auto;
}

/*-----------------------------
 *
 * アニメーション
 *
 *----------------------------*/

/*フェードイン*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*拡大表示*/
@keyframes scale-in {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*header宇宙船を右下へ移動*/
@keyframes UFO {
    0% {
        top: 10%;
        right: -22%;
        margin-right: 0;
    }

    100% {
        top: 42%;
        right: 50%;
        margin-right: -165px;
    }
}


/*-----------------------------
 *
 * header
 *
 *----------------------------*/

.header_area {
    justify-content: center;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.header_title {
    position: absolute;
    height: 250px;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: -125px;
}

.header_area h1 {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: scale-in 3s ease calc(var(--starttime) - 0.5S) forwards normal;
}

.header_area h2 {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fade-in 3s ease calc(var(--starttime) + 1S) forwards normal;
}

.header_area p {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fade-in 3s ease calc(var(--starttime) + 1S) forwards normal;
}


.spaceship_img {
    position: absolute;
    top: 10%;
    right: -22%;
    z-index: 1;
    animation: UFO 3s ease calc(var(--starttime) + 1S) forwards normal;
}




.space_bunyan_img {
    position: absolute;
    top: 47%;
    right: 47%;
}

/*--------scroll--------*/

.scroll_area {
    position: absolute;
    left: 49%;
    bottom: 14%;
    animation: fade-in 3s ease calc(var(--starttime) + 1S) forwards normal;
}

.scroll_bunyan_img {
    opacity: 0;
    animation: fade-in 3s ease calc(var(--starttime) + 1S) forwards normal;
}

.scroll_area p {
    position: absolute;
    padding-top: 10px;
    left: -9%;
}

p span {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}


/*--------//scroll--------*/

/*--------Hamburger Menu--------*/

/*--------//Hamburger Menu--------*/


/*-----------------------------
 *
 * universe
 *
 *----------------------------*/

.space_bunyan_float_img {
    position: absolute;
    left: 50%;
    top: 10%;
}

.spaceship_kidnap_img {
    position: absolute;
    left: 50%;
    top: 10%;

}

/*-----------------------------
 *
 * potfolio_web
 *
 *----------------------------*/

.potfolio_web_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
}

.potfolio_web_area {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    margin: auto;
    width: 100%;
}

.potfolio_web_area h2 {
    font-size: 4rem;
}

.web_icon {
    position: relative;
    width: 468px;
    height: 468px;
}



/*-----------------------
　星座 Web_icon
-----------------------*/
/*枠*/
#web_frame {}

/*星（左上右）*/
#web_star1 {
    opacity: 0;
}

/*星（右上左）*/
#web_star2 {
    opacity: 0;
}

/*星（右上右）*/
#web_star3{
    opacity: 0;    
}


/*-----------------------------
 *
 * potfolio_graphic
 *
 *----------------------------*/

.potfolio_graphic_area_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
}

.potfolio_graphic_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
}

.graphic_icon_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
}

.potfolio_graphic_area h2 {
    font-size: 4rem;
}

.graphic_text_contaner {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
}


/*-----------------------
　星座Grapic_icon
-----------------------*/

/*枠_11*/
#graphic_frame {
    opacity: 0;
    animation: fade-in 1.8s ease 2.8s forwards normal;
}

/*星(左上)_1*/
#graphic_star1 {
    opacity: 0;
    animation: fade-in 1s ease 0.1s forwards normal;
}

/*星（上中間左）_3*/
#graphic_star2 {
    opacity: 0;
    animation: fade-in 1s ease 1s forwards normal;
}

/*星（上頂上）_5*/
#graphic_star3 {
    opacity: 0;
    animation: fade-in 1s ease 2s forwards normal;
}

/*星（上中間右）_4*/
#graphic_star4 {
    opacity: 0;
    animation: fade-in 1s ease 1.5s forwards normal;
}

/*星（右上）_2*/
#graphic_star5 {
    opacity: 0;
    animation: fade-in 1s ease 0.5s forwards normal;
}

/*星（右中間）_9*/
#graphic_star6 {
    opacity: 0;
    animation: fade-in 1s ease 2.55s forwards normal;
}

/*星（右下）_6*/
#graphic_star7 {
    opacity: 0;
    animation: fade-in 1s ease 2.25s forwards normal;
}

/*星（下中間）_10*/
#graphic_star8 {
    opacity: 0;
    animation: fade-in 1s ease 2.65s forwards normal;
}

/*星（左下）_7*/
#graphic_star9 {
    opacity: 0;
    animation: fade-in 1s ease 2.35s forwards normal;
}

/*星（左中間）_8*/
#graphic_star10 {
    opacity: 0;
    animation: fade-in 1s ease 2.45s forwards normal;
}

/*グラフィックのイラスト_12*/
.graphic_icon_img {
    position: absolute;
    top: 25%;
    left: 18%;
    opacity: 0;
    animation: fade-in 1.8s ease 2.9s forwards normal;
}




/*-----------------------------
 *
 * atmosphere　大気圏
 *
 *----------------------------*/

.atmosphere_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/BG_border.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-----------------------------
 *
 * Sky1
 *
 *----------------------------*/

.sky1_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
    background-color: #BBE2F1;

}

/*-----------------------------
 *
 * potfolio_game_app
 *
 *----------------------------*/

.potfolio_game_app_area_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    background-color: #BBE2F1;
}

.potfolio_game_app_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
}

.potfolio_game_app_area h2 {
    font-size: 4rem;
}

/*-----------------------------
 *
 * Sky2
 *
 *----------------------------*/

.sky2_area_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    background: linear-gradient(#BBE2F1, #FFF);
}

/*-----------------------------
 *
 * other_work
 *
 *----------------------------*/

.other_work_area_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    background: #FFF;
}

.other_work_area_background h2 {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 40px;
    color: #FAAFBB;
}

.other_work_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
}

.other_work_area h3 {
    text-align: center;
    font-size: 3rem;
    color: #999;
}

.makizushi_icon_area {
    padding: 50px;
}

.photography_icon_area {
    padding: 50px;
}

/*-----------------------------
 *
 * dohyoiri
 *
 *----------------------------*/

.dohyoiri_area {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    position: relative;
    width: 1280px;
    height: 950px;
    background-color: #fff;
    background-image: url(../images/bg_skytree.png);
    background-repeat: no-repeat;
}

/*スモーネコ ぶにゃんたちの配置*/
.d_bunyan_1 {
    position: absolute;
    top: 612px;
    left: 496px;
}

.d_bunyan_2 {
    position: absolute;
    top: 578px;
    left: 479px;
}

.d_bunyan_3 {
    position: absolute;
    top: 530px;
    left: 497px;
}

.d_bunyan_4 {
    position: absolute;
    top: 509px;
    left: 534px;
}

.d_bunyan_5 {
    position: absolute;
    top: 497px;
    left: 599px;
}

.d_bunyan_6 {
    position: absolute;
    top: 504px;
    left: 653px;
}

.d_bunyan_7 {
    position: absolute;
    top: 519px;
    left: 696px;
}

.d_bunyan_8 {
    position: absolute;
    top: 539px;
    left: 726px;
}

.d_bunyan_9 {
    position: absolute;
    top: 594px;
    left: 729px;
}

.d_bunyan_10 {
    position: absolute;
    top: 616px;
    left: 698px;
}

.d_bunyan_11 {
    position: absolute;
    top: 635px;
    left: 657px;
}

.d_bunyan_12 {
    position: absolute;
    top: 637px;
    left: 603px;
}

.d_bunyan_13 {
    position: absolute;
    top: 633px;
    left: 540px;
}

/*スモーネコ ぶにゃん（ダンス）たちの配置*/
.dance_bunyan_1 {
    position: absolute;
    top: 559px;
    left: 316px;
}

.dance_bunyan_2 {
    position: absolute;
    top: 601px;
    left: 266px;
}

.dance_bunyan_3 {
    position: absolute;
    top: 667px;
    left: 278px;
}

.dance_bunyan_4 {
    position: absolute;
    top: 704px;
    left: 333px;
}

.dance_bunyan_5 {
    position: absolute;
    top: 736px;
    left: 396px;
}

.dance_bunyan_6 {
    position: absolute;
    top: 507px;
    left: 827px;
}

.dance_bunyan_7 {
    position: absolute;
    top: 540px;
    left: 885px;
}

.dance_bunyan_8 {
    position: absolute;
    top: 592px;
    left: 936px;
}

.dance_bunyan_9 {
    position: absolute;
    top: 667px;
    left: 915px;
}

.dance_bunyan_10 {
    position: absolute;
    top: 722px;
    left: 860px;
}


/*-----------------------------
 *
 * profile
 *
 *----------------------------*/

.profile_area_background {
    justify-content: center;
    padding: 50px;
    position: relative;
    width: 100%;
    background: #FFFAD9;
}

.profile_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
    background: #FFFAD9;
}

.profile_text_area {
    padding-left: 35px;
    width: 770px;
}

.profile_area_background h2 {
    text-align: center;
    font-size: 4rem;
    color: #FFE066;
}

.profile_area h3 {
    font-size: 1.8rem;
    color: #999;
}

.profile_post {
    font-size: 1.4rem;
    color: #999;
}

.profile_text {
    font-size: 1.6rem;
    color: #999;
}
