@charset "UTF-8";

/*変数*/
/*
:root {
    --starttime: 7s;
}
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* CSS Document*/
html {
    font-size: 62.5%;
    /*16px × 62.5%=10px*/
    /*　横揺れ防止　*/
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    color: #fff;
    /* 基本フォント　*/
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    line-height: 1.85;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*　横揺れ防止　*/
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: black;
}

img {
    width: auto;
    max-width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 2%;
}

/*web_graphic_common */
.cls-1 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.cls-2 {
    fill: #fff;
}

/*非表示(web_graphic_common)*/
.op0 {
    opacity: 0;
}

/*-----------------------------
 *
 * アニメーション
 *
 *----------------------------*/

/*フェードイン*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*フェードアウト*/
@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*拡大表示*/
@keyframes scale-in {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*header宇宙船を右下へ移動*/
@keyframes UFO {
    0% {
        top: 10px;
        right: -22%;
        margin-right: 0;
    }

    100% {
        top: 320px;
        right: 50%;
        margin-right: -165px;
    }
}

/*上下ゆらゆら*/
@keyframes updown_yurayura {
    0% {
        -webkit-transform: translate(0, 0) rotate(0deg);
    }

    50% {
        -webkit-transform: translate(0, -50px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(0, 0)rotate(0deg);
    }
}

/*ふわふわ*/
@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-20deg);
    }

    50% {
        transform: translate(0, -5px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0)rotate(20deg);
    }
}

/*ふわふわ(逆)*/
@keyframes fuwafuwa_reverse {
    0% {
        transform: translate(0, 0) rotate(20deg);
    }

    50% {
        transform: translate(0, 20px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0)rotate(-20deg);
    }
}

/*右回転*/
@keyframes right_rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*オープニングロール中にスクロールさせない対策*/
.wrapperHeader {
    display: none;
}

.wrapContent {
    display: none;
}


/*-----------------------------
 *
 * header
 *
 *----------------------------*/

.header_area {
    justify-content: center;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 800px;
}

.header_title {
    position: absolute;
    height: 250px;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: -125px;
}

.header_area.start h1 {
    animation: scale-in 3s ease 0.5S forwards normal;
}

.header_area.start h2 {
    animation: fade-in 3s ease 1S forwards normal;
}

.header_area.start p {
    animation: fade-in 3s ease 1S forwards normal;
}

.header_area.start scroll_area {
    animation: fade-in 3s ease 1S forwards normal;
}

.header_area .spaceship_img {
    position: absolute;
    z-index: 10;
    top:10px;
    right:-22%;
}

.header_area.start .spaceship_img {
    animation: UFO 3s ease 1S forwards normal;
}

/*
.header_area.start .spaceship_light_img {
    position: absolute;
    top: 380px;
    right: 50%;
    margin-right: -165px;
    z-index: 1;
}

.header_area.start .spaceship_light_img.fade-in {
    animation: fade-in 1s ease 0s forwards normal;
}
*/




.header_area h1 {
    width: 100%;
    text-align: center;
    opacity: 0;
}

.header_area h2 {
    width: 100%;
    text-align: center;
    opacity: 0;

}

.header_area p {
    width: 100%;
    text-align: center;
    opacity: 0;
}

/*prologue*/
.prologue {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5;
}

/*--------scroll--------*/

.header_area .scroll_area {
    position: absolute;
    left: 49%;
    bottom: 14%;
}

.scroll_area.fade-out {
    animation: fade-out 1s ease 0s forwards normal;
}

.header_area.start .scroll_bunyan_img {
    animation: fade-in 3s ease 1S forwards normal;
}

.header_area .scroll_bunyan_img {
    opacity: 0;
/*    animation: fade-in 3s ease calc(var(--starttime) + 1S) forwards normal;*/
}

.scroll_bunyan_fuwafuwa {
    animation: fuwafuwa 2s infinite linear alternate;
}



.scroll_area p {
    position: absolute;
    padding-top: 10px;
    left: -9%;
}

.scroll_area p span {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}


/*--------//scroll--------*/

/*--------Hamburger Menu--------*/

/*--------//Hamburger Menu--------*/

/*--------nav--------*/
.dorawer_nav_wrapper {
    width: 312px;
    height: 100vh;
    /*
    transition: all .2s;
    transform: translate(312px);
    position: fixed;
*/
    top: 0;
    /*    z-index: 1000;*/
    background-color: #FFF;
}

.drawer_nav {
    padding: 112px 24px;
}

.drawer_nav li {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

/*--------//nav--------*/



/*
.universe_area_background .UFO_kidnap {
    position: absolute;
    top:800px;

}
*/



/*-----------------------------
 *
 * potfolio_web
 *
 *----------------------------*/

.potfolio_web_background {
    justify-content: center;
    display: flex;
    padding-top: 350px;
    padding-bottom: 300px;
    position: relative;
    width: 100%;
    height: 1200px;
}

.potfolio_web_area {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 1000px;
    /*    left:7%;*/
}

.web_contaner {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.web_contaner_anime {
    animation: fade-in 5s ease 0.1s forwards normal;
}

.potfolio_web_area h2 {
    font-size: 4rem;
}

.web_icon_area {
    justify-content: center;
    position: relative;
    margin-left: auto;
}


/*-----------------------
　星座 Web_icon
-----------------------*/

/*表示18_枠*/
.web_icon_img_anime {
    position: absolute;
    top: 10%;
    left: 11%;
    animation: fade-in 1.8s ease 3s forwards normal;
}

/*----画面---*/

/*表示17_枠*/
.web_frame_anime {
    animation: fade-in 1.8s ease 3s forwards normal;
}


/*表示1_星（左上左）*/
.web_star8_anime {
    animation: fade-in 1s ease 0.1s forwards normal;

}

/*表示2_星（右上左）*/
.web_star2_anime {
    animation: fade-in 1s ease 0.8s forwards normal;
}

/*表示3_星（左上右）*/
.web_star1_anime {
    animation: fade-in 1s ease 1.2s forwards normal;
}

/*表示4_星（右上右）*/
.web_star3_anime {
    animation: fade-in 1s ease 1.6s forwards normal;
}

/*表示5_星（左下右）*/
.web_star6_anime {
    animation: fade-in 1s ease 1.8s forwards normal;
}

/*表示6_星（右下右）*/
.web_star4_anime {
    animation: fade-in 1s ease 1.95s forwards normal;
}

/*表示7_星（右下左）*/
.web_star5_anime {
    animation: fade-in 1s ease 2.05s forwards normal;
}

/*表示8_星（左下左）*/
.web_star7_anime {
    animation: fade-in 1s ease 2.15s forwards normal;
}


/*---画面ボタン---*/

/*表示9_星（右）*/
.web_star9_anime {
    animation: fade-in 1s ease 2.25s forwards normal;
}

/*表示10_星（左）*/
.web_star10_anime {
    animation: fade-in 1s ease 2.35s forwards normal;
}

/*---台---*/

/*表示11_星（右上）*/
.web_star11_anime {
    animation: fade-in 1s ease 2.4s forwards normal;
}

/*表示15_星（右中間）*/
.web_star12_anime {
    animation: fade-in 1s ease 2.5s forwards normal;
}

/*表示12_星（左下）*/
.web_star14_anime {
    animation: fade-in 1s ease 2.6s forwards normal;
}

/*表示13_星（右下）*/
.web_star13_anime {
    animation: fade-in 1s ease 2.7s forwards normal;
}

/*表示14_星（左上）*/
.web_star16_anime {
    animation: fade-in 1s ease 2.8s forwards normal;
}

/*表示16_星（左中間）*/
.web_star15_anime {
    animation: fade-in 1s ease 2.9s forwards normal;
}



/*-----------------------------
 *
 * potfolio_graphic
 *
 *----------------------------*/

.potfolio_graphic_area_background {
    justify-content: center;
    display: flex;
    padding-top: 200px;
    padding-bottom: 400px;
    position: relative;
    width: 100%;
    height: 1200px;
}

.potfolio_graphic_area {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    width: 900px;
}

.graphic_icon_area {
    justify-content: center;
    width: 410px;
    display: flex;
    position: relative;
    margin-right: auto;
}

.potfolio_graphic_area h2 {
    color: #C8EFFA;
    font-size: 4rem;
}

.graphic_text_contaner {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.graphic_text_contaner_anime {
    animation: fade-in 2s ease 0.1s forwards normal;
}


/*-----------------------
　星座Graphic_icon
-----------------------*/

/*表示11_枠*/
.graphic_frame_anime {
    animation: fade-in 1.8s ease 2.8s forwards normal;
}

/*表示1_星(左上)*/
.graphic_star1_anime {
    animation: fade-in 1s ease 0.1s forwards normal;
}

/*表示3_星（上中間左）*/
.graphic_star2_anime {
    animation: fade-in 1s ease 1s forwards normal;
}

/*表示5_星（上頂上）*/
.graphic_star3_anime {
    animation: fade-in 1s ease 2s forwards normal;
}

/*表示4_星（上中間右）*/
.graphic_star4_anime {
    animation: fade-in 1s ease 1.5s forwards normal;
}

/*表示2_星（右上）*/
.graphic_star5_anime {
    animation: fade-in 1s ease 0.5s forwards normal;
}

/*表示9_星（右中間）*/
.graphic_star6_anime {
    animation: fade-in 1s ease 2.55s forwards normal;
}

/*表示6_星（右下）*/
.graphic_star7_anime {
    animation: fade-in 1s ease 2.25s forwards normal;
}

/*表示10_星（下中間）*/
.graphic_star8_anime {
    animation: fade-in 1s ease 2.65s forwards normal;
}

/*表示7_星（左下）*/
.graphic_star9_anime {
    animation: fade-in 1s ease 2.35s forwards normal;
}

/*表示8_星（左中間）*/
.graphic_star10_anime {
    animation: fade-in 1s ease 2.45s forwards normal;
}

/*表示12_グラフィックのイラスト*/
.graphic_icon_img_anime {
    position: absolute;
    top: 24%;
    left: 17%;
    animation: fade-in 1.8s ease 2.9s forwards normal;
}




/*-----------------------------
 *
 * atmosphere　大気圏
 *
 *----------------------------*/

.atmosphere_area {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url(../images/BG_border.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*-----------------------------
 *
 * potfolio_game_app
 *
 *----------------------------*/

.potfolio_game_app_area_background {
    justify-content: center;
    display: flex;
    padding-top: 350px;
    padding-bottom: 300px;
    position: relative;
    width: 100%;
    height: 1200px;
    background-color: #BBE2F1;
}

.potfolio_game_app_area {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    width: 1000px;
}

.potfolio_game_app_area_anime {
    animation: fade-in 5s ease 0.1s forwards normal;
}

.portfolio_game_app_text_area {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.portfolio_game_app_img {
    justify-content: center;
    width: 590px;
    height: 422px;
    display: flex;
    position: relative;
    margin-left: auto;
}

.portfolio_game_app_text_area h2 {
    color: #89C4AA;
    font-size: 4rem;
}

/*-----------------------------
 *
 * Sky_gradation
 *
 *----------------------------*/
.Sky_gradation_area_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(#BBE2F1, #FFF);
}

/*-----------------------------
 *
 * other_work
 *
 *----------------------------*/

.other_work_area_background {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    height: 800px;
    background: #FFF;
}

.other_work_area_background h2 {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 40px;
    color: #FAAFBB;
}

.other_work_area {
    justify-content: center;
    display: flex;
    padding: 30px;
    position: relative;
    width: 100%;
}

.other_work_area h3 {
    text-align: center;
    font-size: 3rem;
    color: #999;
}

.makizushi_icon_area {
    padding: 50px;
}

.photography_icon_area {
    padding: 50px;
}

/*-----------------------------
 *
 * dohyoiri
 *
 *----------------------------*/

.dohyoiri_area_background {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #FFF;
}

.dohyo_area {
    display: flex;
    position: relative;
    background-image: url(../images/bg_skytree_dohyo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

√

/*スモーネコ ぶにゃんたちの配置*/
.d_bunyan_1 {
    position: absolute;
    top: 72%;
    left: 40%;
}

.d_bunyan_1 {
    position: absolute;
    top: 72%;
    left: 40%;
}

.d_bunyan_2 {
    position: absolute;
    top: 68%;
    left: 38%;
}

.d_bunyan_3 {
    position: absolute;
    top: 63%;
    left: 38%;
}

.d_bunyan_4 {
    position: absolute;
    top: 61%;
    left: 40%;
}

.d_bunyan_5 {
    position: absolute;
    top: 59%;
    left: 48%;
}

.d_bunyan_6 {
    position: absolute;
    top: 59%;
    left: 44%;
}

.d_bunyan_7 {
    position: absolute;
    top: 59%;
    left: 52%;
}

.d_bunyan_8 {
    position: absolute;
    top: 60%;
    left: 55%;
}

.d_bunyan_9 {
    position: absolute;
    top: 64%;
    left: 58%;
}

.d_bunyan_10 {
    position: absolute;
    top: 68%;
    left: 57%;
}

.d_bunyan_11 {
    position: absolute;
    top: 71%;
    left: 55%;
}

.d_bunyan_12 {
    position: absolute;
    top: 74%;
    left: 52%;
}

.d_bunyan_13 {
    position: absolute;
    top: 74%;
    left: 48%;
}

.d_bunyan_14 {
    position: absolute;
    top: 73%;
    left: 44%;
}


/*横綱アニメーション*/
/*表示1_つっぱり*/
.d_bunyan_6_anime {
    animation: fade-in 1s ease 0.1s forwards normal;
}

/*表示1_さかな*/
.d_bunyan_7_anime {
    animation: fade-in 1s ease 0.1s forwards normal;
}

/*表示2_との*/
.d_bunyan_8_anime {
    animation: fade-in 1s ease 0.5s forwards normal;
}

/*表示2_松*/
.d_bunyan_4_anime {
    animation: fade-in 1s ease 0.5s forwards normal;
}

/*表示3_まげ*/
.d_bunyan_3_anime {
    animation: fade-in 1s ease 1s forwards normal;
}

/*表示3_左横*/
.d_bunyan_9_anime {
    animation: fade-in 1s ease 1s forwards normal;
}

/*表示4_うしろ１*/
.d_bunyan_10_anime {
    animation: fade-in 1s ease 1.5s forwards normal;
}

/*表示4_さくら*/
.d_bunyan_2_anime {
    animation: fade-in 1s ease 1.5s forwards normal;
}

/*表示5_うしろ２*/
.d_bunyan_11_anime {
    animation: fade-in 1s ease 2s forwards normal;
}

/*表示5_右横*/
.d_bunyan_1_anime {
    animation: fade-in 1s ease 2s forwards normal;
}

/*表示6_うしろ5*/
.d_bunyan_14_anime {
    animation: fade-in 1s ease 2.5s forwards normal;
}

/*表示6_うしろ３*/
.d_bunyan_12_anime {
    animation: fade-in 1s ease 2.5s forwards normal;
}

/*表示7_うしろ4*/
.d_bunyan_13_anime {
    animation: fade-in 1s ease 3s forwards normal;
}

/*波*/
.d_bunyan_5_anime {
    animation: fade-in 1s ease 0.1s forwards normal;
}



/*スモーネコ ぶにゃん（ダンス）たちの配置*/
.dance_bunyan_1 {
    position: absolute;
    top: 64%;
    left: 27%;
}

.dance_bunyan_2 {
    position: absolute;
    top: 68%;
    left: 22%;
}

.dance_bunyan_3 {
    position: absolute;
    top: 74%;
    left: 19%;
}

.dance_bunyan_4 {
    position: absolute;
    top: 80%;
    left: 24%;
}

.dance_bunyan_5 {
    position: absolute;
    top: 86%;
    left: 28%;
}

.dance_bunyan_6 {
    position: absolute;
    top: 63%;
    left: 65%;
}

.dance_bunyan_7 {
    position: absolute;
    top: 67%;
    left: 70%;
}

.dance_bunyan_8 {
    position: absolute;
    top: 72%;
    left: 75%;
}

.dance_bunyan_9 {
    position: absolute;
    top: 80%;
    left: 73%;
}

.dance_bunyan_10 {
    position: absolute;
    top: 86%;
    left: 67%;
}

/*ダンスアニメーション*/
/*表示1*/
.dance_bunyan_5_anime {
    animation: fade-in 1s ease 0.1s forwards normal;
}

/*表示1*/
.dance_bunyan_10_anime {
    animation: fade-in 1s ease 0.1s forwards normal;
}

/*表示2*/
.dance_bunyan_4_anime {
    animation: fade-in 1s ease 1s forwards normal;
}

/*表示2*/
.dance_bunyan_9_anime {
    animation: fade-in 1s ease 1s forwards normal;
}

/*表示3*/
.dance_bunyan_3_anime {
    animation: fade-in 1s ease 1.5s forwards normal;
}

/*表示3*/
.dance_bunyan_8_anime {
    animation: fade-in 1s ease 1.5s forwards normal;
}

/*表示4*/
.dance_bunyan_2_anime {
    animation: fade-in 1s ease 2s forwards normal;
}

/*表示4*/
.dance_bunyan_7_anime {
    animation: fade-in 1s ease 2s forwards normal;
}

/*表示5*/
.dance_bunyan_1_anime {
    animation: fade-in 1s ease 2.5s forwards normal;
}

/*表示5*/
.dance_bunyan_6_anime {
    animation: fade-in 1s ease 2.5s forwards normal;
}

/*ダンスネコをゆらゆら*/

.dance_bunyan_1_move {
    animation: horizontal 1s ease-in-out infinite alternate;
}

.dance_bunyan_2_move {
    animation: vertical 1s ease-in-out infinite alternate;
}

.dance_bunyan_3_move {
    animation: horizontal 1s ease-in-out infinite alternate;
}

.dance_bunyan_4_move {
    animation: vertical 1s ease-in-out infinite alternate;
}

.dance_bunyan_5_move {
    animation: horizontal 1s ease-in-out infinite alternate;
}

.dance_bunyan_6_move {
    animation: vertical 1s ease-in-out infinite alternate;
}

.dance_bunyan_7_move {
    animation: horizontal 1s ease-in-out infinite alternate;
}

.dance_bunyan_8_move {
    animation: vertical 1s ease-in-out infinite alternate;
}

.dance_bunyan_9_move {
    animation: horizontal 1s ease-in-out infinite alternate;
}

.dance_bunyan_10_move {
    animation: vertical 1s ease-in-out infinite alternate;
}

/*横にゆらゆら*/
@keyframes horizontal {
    0% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0px);
    }
}

/*縦にゆらゆら*/
@keyframes vertical {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}




/*-----------------------------
 *
 * profile
 *
 *----------------------------*/

.profile_area_background {
    padding: 50px;
    position: relative;
    width: 100%;
    background: #FFFAD9;
}


.profile_area_frame {
    display: flex;
    justify-content: center;
    position: relative;
}

.profile_bunyan_area {
    display: block;
    padding: 20px;
    margin-right: 50px;
    position: relative;
    width: 500px;
    background: #FFF;
}

.profile_area {
    display: block;
    padding: 20px;
    margin-left: 50px;
    position: relative;
    width: 500px;
    background: #FFF;
}

.profile_text_area {
    padding-left: 35px;
    /*    width: 770px;*/
}

.profile_area_background h2 {
    text-align: center;
    font-size: 4rem;
    color: #FFE066;
    margin-bottom: 20px;
}

.profile_area_background h3 {
    text-align: center;
    font-size: 1.8rem;
    color: #999;
    padding-top: 5px;


}

.profile_img {
    text-align: center;
}

.profile_post {
    text-align: center;
    font-size: 1.4rem;
    color: #999;
}

.profile_text {
    padding: 17px;
    font-size: 1.6rem;
    color: #999;
}

/*-----------------------------
 *
 * move_illust
 *
 *----------------------------*/

.space_bunyan_img {
    position: absolute;
    top: 380px;
    right: 47%;
}

.space_bunyan_img_anime {
    animation: right_rotation 7s linear infinite;
}

.space_bunyan_img.fade-in {
    animation: fade-in 1s ease 0s forwards normal;
}

.spaceship_light_img {
    position: absolute;
    top: 380px;
    right: 50%;
    margin-right: -165px;
    z-index: 1;
}

.spaceship_light_img.fade-in {
    animation: fade-in 1s ease 0s forwards normal;
}

.UFO_kidnap {
    position: absolute;
    top: 850px;
    left: 0%;
    transition: 0.4s cubic-bezier(0, 0, 0.35, 1.09);
}

.UFO_kidnap_right {
    position: absolute;
    top: 2000px;
    left: 0%;
    transition: 0.4s cubic-bezier(0, 0, 0.35, 1.09);
}


.float_bunyan_down {
    position: absolute;
    top: 3000px;
    left: 25%;
    animation: updown_yurayura 4s infinite linear alternate;
}

.float_bunyan_up {
    position: absolute;
    top: 2200px;
    left: 30%;
}

.float_bunyan_up_anime {
    animation: updown_yurayura 3s infinite linear alternate;
}

.float_bunyan_above {
    position: absolute;
    top: 2800px;
    right: 25%;
    animation: vertical 1s ease-in-out infinite alternate;
}


.neko_airplane {
    position: absolute;
    top: 3300px;
    left: 50%;
    margin-left: -500px;
    transition: 0.4s cubic-bezier(0, 0, 0.35, 1.09);
}

.balloon_bunyan {
    position: absolute;
    top: 3320px;
    left: 44%;
}

.cloud_small {
    position: absolute;
    top: 4150px;
    left: 48%;
}

.skydiving_bunyan {
    position: absolute;
    top: 4300px;
    left: 45%;
}

.cloud_midium {
    position: absolute;
    top: 5150px;
    left: 35%;
}

.bird_bunyan {
    position: absolute;
    top: 5000px;
    right: 40%;
}

.parasol_bunyan {
    position: absolute;
    top: 4800px;
    left: 15%;
}

.parasol_bunyan_right {
    position: absolute;
    top: 5000px;
    right: 15%;
}

.parasol_bunyan_fuwafuwa {
    animation: fuwafuwa 3s infinite linear alternate;
}

.parasol_bunyan_fuwafuwa_reverse {
    animation: fuwafuwa_reverse 5s infinite linear alternate;
}

/*釣りやね*/
.tsuriyane_img {
    position: absolute;
    top: 6540px;
    right: 50%;
    margin-right: -233px;
}
